.fscard {
    flex: 1 0 320px;
    min-width: 0;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 0 4px 0 #BDBDBD;

    img {
        vertical-align: middle;
        border-style: none;
        object-fit: cover;
        width: 100%;
    }
}
